<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>File Sharing Page</title>
    <link rel="stylesheet" href="/static/user/shareMub.css?v=1">
</head>

<body>

    <div class="navbar">
        <div class="logo">File Share</div>
        <ul class="nav-list">
            <li><a href="{% url 'sharing_app:upload'%}">Upload File</a></li>
            <li><a href="{% url 'user_app:profile'%}"">Profile</a></li>
            <li><a href="{% url 'user_app:logout'%}">Logout</a></li>
        </ul>
    </div>
    
    <div class="container">
        <h1>File Sharing</h1>
    </div>

    <div class="receiver">
        <h1>Receiver</h1>
    </div>

    <div class="user">
        <b><label for="username"> Username: </label></b>
        <input type="text" id="username" name="username" placeholder="Enter Username">
        <br>
        <br>
        <b><label for="share">To share a file: </label></b>
        <button type="submit" id="share" name="share">Share</button></b>
    </div>

    <div class="file">
        <h1>File Description</h1>
    </div>

    <div class="file_info">
        <p>File Name: </p>
        <br>
        <p>File Size: </p>
        <br>
        <p>File Type: </p>
        </b>
    </div>
</body>

</html>